                    /* ......................Style Sheet................... */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

      /*.................................. Body........................... */
body{
    font-family: 'Poppins', sans-serif;
   
    width: 1440px;
    }
                     /* Header Part */

.header-part{
    width: 1440px;
    height: 100px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    margin-left: 120px;
}
.nav-bar a , .fa-search{
    text-decoration: none;
    margin-right: 30px;
   
}
nav{
    margin-right: 120px;
    
    
   
}
/* ...................................First Part................. */
.first-part{
    display: flex;
   
    margin-bottom:30px ;
    margin-left: 120px;
    
}
.first-part-title{
    width: 582px;
    height: 270px;
}
.bttn, .bttn2{
   
    padding: 15px;
    background-color: 
    #E02C6D;
    border-radius: 41px;
    color: white;
    box-shadow: 5px 1px 26px -7px #000000;
}
.first-part-img{
    width: 440px;
    height: 414px;
    background-image: url(Circle\ design.svg);
    margin-left: 40px;


}
.first-part:hover img{
    transform: rotate(-360deg) ;
    transition:all 2s;
}
                      /* Second Part */

.second-part{

    width: 1110px;
    height: 110px;
  
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-column-gap:61px ;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 90px;
    margin-left: 165px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px;
}
.second-part img{
    width: 55px;
    height: 31px;
    
}

                    /* ....................Third Part.............................. */


                    
.third-part{
    width: 1047px;
    height: 1662px;
   
    margin-left: 209px;
   

   
}
.third-part-title{
    text-align: center;
    margin-bottom:30px ;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    
    
   
    
}
.item{
    width: 329px;
    height: 476px;
   
    padding: 6px;
   
    
}
.item img{
    width: 300px;
    height: 256px;
}
.fa-star.filled{
   
    color: #FFC014;}
.fa-star.empty{
   
        color: #AEAEAE;
    
    }
 #see-more{
    
   text-align: right;
    margin-top: 60px;
    color: #E02C6D
    ;
    
    
 }  
                        /* Fourth Part Start */

     .fourth-part{
         display: flex;
        
         width: 1110px;
         height: 270px;
         margin: auto;
         margin-top: 98px;
         margin-bottom: 100px;

     }                   
     .display-image img{
         width: 404px;
         height: 270px;
     }  
     .about-img{
         width: 610px;
         height: 224px;
         margin-left: 40px;
     }
     .bttn2{
         font-size: 16px;
     }
 
             /* .............................Footer ............................*/
 footer{
     width: 1440px;
     height: 239px;
     background-color: #0A0826;
     color: white;
     
     
     
     
     
 }
 
 .footer{
   
    text-align: center;
    
    width: 262px;
    height: 139px;
    margin-left: 589px;
   
    margin-bottom: 50px;
    padding: 40px;
  }    
  .fa-instagram  {
      color: white;
        width: 32px;
        height: 32px;

        padding:5px ;
        border-radius: 50px;
      
  }
  .fa-facebook {
      color: white;
    width: 32px;
    height: 32px;

    padding:10px ;
    border-radius: 50px;

  }  
  .fa-twitter{
      color: white;
    width: 32px;
    height: 32px;

    padding:10px ;
    border-radius: 50px;

  }   
  .fa-youtube{
     color: white;
    width: 32px;
    height: 32px;

padding:5px ;
    border-radius: 0px;

  }   


  /* Meadia Queries */

  /* Mobile Devices */
  @media only screen and (max-width:688px){
      .container-one{
          width: 100%;
      }

    .first-part{
        display: grid;
        justify-content: center;
        align-items: center;
        }
        .first-part-title{
            width: 100%;
            display: grid;
            text-align: center;
            justify-content: center;
            margin-bottom: 40px;
        }
    .second-part{
       max-width: 100%;
        margin: auto;
        
       
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        
       
    }
    .items{
        flex-direction: column;
        justify-items: center;
        grid-template-columns: repeat(1,1fr);
       
       
        bottom: 0;
       
    }
    .item{
        width: 330px;
        max-height: max-content;
        justify-items: center;
        align-items: center;
        flex-direction: column;

    }
   
    #see-more{
        text-align: center;
    }
    .fourth-part{
        display: none;
       }
    footer{
           position: fixed;
           bottom: 0px;
    }

         

     

}