                    /* ......................Style Sheet................... */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

      /*.................................. Body........................... */
body{
    font-family: 'Poppins', sans-serif;
    border: 10px solid olive;
    width: 1440px;
    

    height: 100%;

}

/* ...................................First Part................. */
.first-part{
    display: flex;
    border: 8px solid seagreen;
    margin-bottom:30px ;
    margin-left: 120px;
    
}
.bttn, .bttn2{
    width: 155px;
    height: 44px;
    padding: 10px;
    background-color: 
    #E02C6D;
    border-radius: 41px;
    color: white;
    box-shadow: 5px 1px 26px -7px #000000;
}
.first-part-img{
    width: 440px;
    height: 414px;

}
                      /* Second Part */

.second-part{

    width: 1110px;
    height: 110px;
  
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-column-gap:61px ;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 90px;
    margin-left: 165px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px;
}
.second-part img{
    width: 55px;
    height: 31px;
    
}

                    /* ....................Third Part.............................. */


                    
.third-part{
    width: 1047px;
    height: 1662px;
   
    margin-left: 209px;
    border: 5px solid red;

   
}
.third-part-title{
    text-align: center;
    margin-bottom:30px ;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
   
    
}
.item{
    width: 329px;
    height: 476px;
   
    padding: 6px;
   
    
}
.item img{
    width: 300px;
    height: 256px;
}
.fa-star.filled{
   
    color: #FFC014;}
.fa-star.empty{
   
        color: #AEAEAE;
    
    }
 #see-more{
    
   text-align: right;
    margin-top: 60px;
    color: #E02C6D
    ;
    
    
 }  
                        /* Fourth Part Start */

     .fourth-part{
         display: flex;
         border: 5px solid greenyellow;
         width: 1110px;
         height: 270px;
         margin: auto;
         margin-top: 98px;

     }                   
     .display-image img{
         width: 404px;
         height: 270px;
     }  
     .about-img{
         width: 610px;
         height: 224px;
         margin-left: 40px;
     }
     .bttn2{
         font-size: 16px;
     }
 
             /* .............................Footer ............................*/
 footer{
     width: 1440px;
     height: 239px;
     background-color: #0A0826;
     color: white;
     
     
     
     
     
 }
 
 .footer{
   
    text-align: center;
    
    width: 262px;
    height: 139px;
    margin-left: 589px;
   
    margin-bottom: 50px;
    padding: 40px;
  }    
  .fa-instagram  {
      color: white;
        width: 32px;
        height: 32px;

        padding:5px ;
        border-radius: 50px;
      
  }
  .fa-facebook {
      color: white;
    width: 32px;
    height: 32px;

    padding:10px ;
    border-radius: 50px;

  }  
  .fa-twitter{
      color: white;
    width: 32px;
    height: 32px;

    padding:10px ;
    border-radius: 50px;

  }   
  .fa-youtube{
     color: white;
    width: 32px;
    height: 32px;

    padding:5px ;
    border-radius: 0px;

  }   